@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Pacifico', cursive;
	background-color: #466067;
}

li, a, button {
	font-weight: 400;
	font-size: 1em;
	color: #ffee58;
	text-decoration: none;
}

.cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.8em 10%;
}

.logo {
	cursor: pointer;
 	width: 5em;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	margin: 0 20px;
	display: inline-block;
	padding: 0px 20px;
}

.nav-links li a {
	transition: all 0.5s ease 0s;
}

.nav-links li a:hover {
	color: rgba(0,136,169,0.8);
}

button {
	padding: 9px 23px;
	background-color: rgba(84,110,122,255);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.5s ease 0s;
}

button:hover {
	background-color: rgba(0,136,169,0.8);
}
